.dropbtn {
  border: none;
}

.dropdown {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown a {
  text-decoration: none;
  color: #000000a6;
}

.dropdown a:hover {
  color: black;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.zoom {
  transition: transform 0.2s;
  height: 100%;
  cursor: pointer;
}

.BottomNavbar {
  display: none;
}

.footerMargin {
  margin-bottom: 0 !important;
}

.zoom:hover {
  transform: scale(1.1);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
}

.bannerImage {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
}

.longImage {
  width: 100%;
  height: 800px;
}

.border-visible {
  border: 8px solid white;
  padding: 30px;
}

.text h6 {
  font-size: 15px;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
}

.text h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.text p {
  font-size: 20px;
}

.product_dropdown :hover {
  background-color: #72c24f;
  color: white !important;
}

.text button {
  text-align: center;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 30px 5px 30px;
  transition: ease-in-out 0.2s;
  border-radius: 5px;
}

.text button:hover {
  background-color: white;
  color: black;
}

.logoImage {
  width: 265px;
  height: 50px;
}

@media (max-width: 991px) {
  .BottomNavbar {
    display: block;
  }
}

@media (max-width: 768px) {
  .bannerImage {
    max-height: 400px;
  }
  .text h6 {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .text h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .text button {
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
  }
  .longImage {
    height: 500px;
  }
  .BottomNavbar {
    display: block;
  }
  .footerMargin {
    margin-bottom: 60px !important;
  }
  .border-visible {
    border: 4px solid white;
    padding: 20px;
  }
  .text p {
    font-size: 16px;
  }
}

.mainClass {
  visibility: visible;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 480px) {
  .longImage {
    height: 300px;
  }
  .bannerImage {
    max-height: 300px;
  }
  .logoImage {
    width: 200px;
    height: 50px;
  }
  .BottomNavbar {
    display: block;
  }
  .footerMargin {
    margin-bottom: 60px !important;
  }
}
